*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.highlights-card,
.course {
	min-height: 100%;
}

.highlights-card h2 {
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	height: 11rem;
}
